details summary::-webkit-details-marker {
  display: none;
}

.infoblock li {
  height: 72px;
  list-style-type: none;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoblock__menu[open] .infoblock__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoblock__style {
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  font-weight: bold;
  height: 72px;
  letter-spacing: 0.03em;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoblock__drop {
  display: none;
  border-bottom: 1px solid #e6e6e6;
}

.infoblock__drop_left {
  width: 390px;
  padding-bottom: 74px;
}

.infoblock__drop_left_h3 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.infoblock__drop_left_h4 {
  font-size: 13px;
  color: #e6e6e6;
  line-height: 20px;
  padding-top: 15px;
}

.infoblock__drop_left_btn {
  height: 50px;
  width: 180px;
  background-color: white;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infoblock__drop_left_btn:hover {
  background-color: #f16d7f;
  color: white;
}

.infoblock__drop_right {
  width: 390px;
  paddinng-bottom: 74px;
}

.infoblock__drop_right_h3 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.infoblock__drop_right_h4 {
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
}

.infoblock__drop_right_email, .infoblock__drop_right_pass {
  height: 45px;
  width: 390px;
  background-color: white;
  border: 1px solid #e6e6e6;
  margin-top: 15px;
  margin-bottom: 23px;
}

.infoblock__drop_right_btnblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.infoblock__drop_right_btnblock_login {
  height: 50px;
  width: 180px;
  background-color: white;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.infoblock__drop_right_btnblock_login:hover {
  background-color: #f16d7f;
  color: white;
}

.infoblock__drop_right_btnblock_h3 {
  margin: auto;
  font-size: 14px;
  color: #222222;
  line-height: 20px;
}
/*# sourceMappingURL=checkout.css.map */