* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

.center {
  padding: 0 calc(50% - 570px);
}

a {
  text-decoration: none;
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px #ececec;
          box-shadow: 0px 0px 10px 0px #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left_logoTextStyleD,
.header__left_logoText {
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.header__left_logoTextStyleD {
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}

.header__left,
.header__right,
.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left_browse {
  position: relative;
  height: 38px;
  width: 87px;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(whitesmoke));
  background-image: linear-gradient(180deg, #f9f9f9 0%, whitesmoke 100%);
}

.drop__browse_menu {
  position: relative;
  height: 38px;
  width: 85px;
  border: 1px solid #e6e6e6;
}

.drop__browse_menu[open] .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.browse_menu_style {
  font-size: 14px;
  font-weight: 300;
  color: #6f6e6e;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 38px;
}

.header__right_Btn_block {
  position: relative;
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  border-radius: 3px;
  z-index: 1000;
}

.header__right_Btn_block[open] .basket_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__right_BtnText {
  font-size: 15px;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.basket_menu {
  position: absolute;
  display: none;
  background-color: ghostwhite;
  right: 0;
}

.menuBox .arrow__down,
.header__right .arrow__down,
.header__form .arrow__down {
  transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
}

.header__left_search {
  height: 38px;
  width: 317px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
}

.header__left_imgBoxBtn {
  width: 38px;
  height: 38px;
}

.header__cart {
  margin-right: 26px;
}

.header__right_Btn_block {
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
}

.header__right_BtnText {
  padding-left: 15px;
  font-size: 15px;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 40px;
  padding-right: 10px;
}

.basket_contents {
  height: 440px;
  width: 262px;
  padding-top: 30px;
  background-color: white;
  border-radius: 5px;
}

.basket_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px;
  border-bottom: 1px solid rgba(237, 237, 237, 0.75);
}

.basket_item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.basket_product_name,
.rating_img,
.basket_product_price {
  padding: 5px;
}

.basket_product_name {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-align: right;
  text-transform: uppercase;
}

.basket_product_price {
  font-size: 12px;
  color: #f16d7f;
  text-transform: uppercase;
}

.rating_img {
  width: 56px;
}

.basket_total {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  margin: 19px 17px 32px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_checkout {
  display: block;
  height: 50px;
  width: 225px;
  margin: 6px 17px;
  border: 1px solid #f16d7f;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.btn_goto-cart {
  display: block;
  height: 50px;
  width: 225px;
  margin: 6px 17px;
  text-align: center;
  line-height: 48px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
}

.logo__img {
  margin-right: 13px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drop__col > ul,
.upperMenu > ul {
  list-style: none;
}

.menu__list {
  position: relative;
}

.menu__list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop {
  position: absolute;
  display: none;
  background-color: ghostwhite;
  opacity: 0.9;
  padding: 25px;
  z-index: 1000;
}

.drop__col {
  margin-right: 46px;
  width: 200px;
}

.drop__col:last-of-type {
  margin-right: 0;
}

.upperMenu .menu__list_a {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 26px;
  text-transform: uppercase;
}

.drop__h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
}

.drop__a {
  list-style: none;
  display: block;
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.drop__a:hover {
  color: #f16d7f;
}

.drop_center {
  right: -300%;
}

.drop_last {
  right: 0;
}

.drop__a_img {
  padding-top: 20px;
  margin-left: -25px;
}

.upperMenu .menu__list_a {
  border-bottom: 1px solid white;
}

.upperMenu .menu__list_a:hover {
  border-bottom: 1px solid #f16d7f;
  color: #f16d7f;
}

.newArrivals {
  height: 148px;
  background-color: #f8f3f4;
}

.newArrivals__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newArrivals_h2 {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.scrumbs_h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrumbs_h3 > li {
  list-style-type: none;
}

.scrumbs_h3 > li a {
  font-size: 18px;
  font-weight: 300;
  color: #636363;
  line-height: 20px;
  text-transform: uppercase;
}

.scrumbs_h3 > li a:hover {
  color: black;
}

.newArrivals_style {
  text-transform: uppercase;
  color: #f16d7f;
}

.subscribe {
  height: 438px;
  margin-top: 97px;
  background: url(img/subscribe_back_0.png), url(img/subscribe_back.png) no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__content {
  width: 1048px;
  height: 171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 536px;
}

.subscribe_photo {
  width: 83px;
  height: 83px;
  background-image: url(img/comment_photo.png);
}

.comment_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 425px;
}

.comment__btn__block {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.comment__btn__previous {
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
}

.comment__btn__current {
  height: 4px;
  width: 38px;
  background-color: #f16d7f;
}

.comment__btn__next {
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
}

.comment_text_h4 {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.text_author {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 16px;
  padding-top: 15px;
}

.comment_author_address {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.subscribe_email_form {
  width: 386px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_name {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 44px;
  text-transform: uppercase;
}

.form_description {
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
  padding-bottom: 30px;
}

.email__form {
  border-radius: 23px;
  -webkit-border-radius: 23px 0px 0px 23px;
  -moz-border-radius: 23px;
  -khtml-border-radius: 23px;
  background: #ffffff !important;
  background-color: #e1e1e1;
  outline: none;
  height: 46px;
  width: 282px;
  color: #cccccc;
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
}

.send__email__button {
  height: 46px;
  width: 104px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  display: block;
  font-size: 14px;
  color: white;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 44px;
}

.lowerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 109px;
}

.lowerMenu__brand_block {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lowerMenu__brand_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lowerMenu__brand_name {
  font-family: "Lato";
  font-size: 27px;
  font-weight: 300;
  color: #3e3e40;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
}

.letter_D_style {
  color: #f16d7f;
  font-weight: 900;
}

.lowerMenu__brand_text {
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-align: start;
  padding-top: 29px;
}

.lowerMenu__name {
  font-size: 18px;
  padding: 15px 0px 30px 0px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
  text-transform: uppercase;
}

.lowerMenu__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  line-height: 42px;
  font-size: 16px;
  color: #898989;
  letter-spacing: 0.03em;
}

.lowerMenu__list a:hover {
  color: #f16d7f;
}

.footer {
  height: 79px;
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 97px;
}

.footer__copyright {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.footer__socialBlock {
  width: 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socialBlock_imgBox {
  width: 32px;
  height: 32px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px 0px gray;
          box-shadow: 0px 0px 10px 0px gray;
}

.footer__socialBlock_imgBox:hover {
  background-color: #f16d7f;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 10px 0px #f16d7f;
          box-shadow: 0px 0px 10px 0px #f16d7f;
}

.pagination {
  height: 44px;
  width: 845px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination-flickr {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #ebebeb;
  border-radius: 3px;
}

.pagination-flickr li {
  list-style-type: none;
}

.pagination-flickr a {
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
  line-height: 26px;
  list-style-type: none;
}

.pagination-flickr a:hover {
  color: #ef5b70;
}

.pagination-flickr .next,
.pagination-flickr .active {
  color: #ef5b70;
}

.viewAll_btn {
  width: 150px;
  text-align: center;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  color: #ef5b70;
  line-height: 40px;
}

.viewAll_btn:hover {
  color: white;
  border: 1px solid gainsboro;
  background-color: #ef5b70;
  border-radius: 3px;
}

.product {
  width: 263px;
  margin-bottom: 39px;
  position: relative;
}

.product:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.product__content {
  padding: 16px;
}

.product:hover .product__img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.product:hover .product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__add:hover {
  -webkit-box-shadow: 0 0 6px #fff;
          box-shadow: 0 0 6px #fff;
}

.product__img {
  width: 100%;
}

.product__name {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  margin-top: 16px;
}

.product__add {
  font-size: 13px;
  font-weight: bold;
  color: white;
  position: absolute;
  height: 39px;
  width: 123px;
  border: 1px solid white;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 97px;
  left: 70px;
}
/*# sourceMappingURL=style.css.map */